.navbar{
    background-color: black;
}
.nav-link,.navbar-brand{
    color: white;
}
.navbar-brand{
    padding-left: 3%;
    padding-right: 3%;
}
.username{
    color: white;
    padding-right: 5%;
    font-size: 1.8vw;
    font-weight: bold;
}